body {
    width: 80%;
    margin: auto;
    padding: 10px;
}
h1 {
    text-align: center;
    margin-left:22rem;
}
h4 {
    display: inline;
    font-size:2em;
    text-align: center;
}
h5 {
   font-size:1em;
   margin-bottom: 0;
   text-align: center;
}
/* main container */
.container {
    border: 1px gray solid;
}

/* sub container for user details*/
.container-user {
    position: relative;
    margin:50px;
    border: 1px solid rgb(137, 150, 137);
    float:left;
    width: 38%;
    padding:0.5rem;
}
/* for images inside the user container at the main page */
.container-user > img {
   height: 150px; 
   display:inline-block;
   vertical-align: middle;
   position: relative;
}

.containerUserContent {
    width :100px;
    height: 100px;
    padding: 20px;
    display:inline-block;
    vertical-align: middle;
}
.divHeader {
    position: relative;
    display: block;
}
.divHeader div {
    display: inline-block;
}
/* for images inside the header for user repositories*/
.divHeader img {
  height: 150px;
  display:inline-block;
  vertical-align: middle;
}
/* for a href (git link) */
 a {
    text-align: center;
     display:block;
     border: none;
     text-decoration: none;
 }
 button {
    margin-left:0px;
    margin-right:0px;
    margin-top:0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 p {
     font-size:15px;
 }
 /* boolean flag - position at the top right of the screen */
 .flag {
    position: absolute;
    top: 0px;
    right: 0px;
 }


 