body {
    width: 80%;
    margin: auto;
    padding: 10px;
}
/* centing header */
h1 {
    text-align: center;
}
h4 {
    display: inline;
    font-size:2em;
    text-align: center;
}
h5 {
   font-size:1em;
   margin-bottom: 0;
   text-align: center;
}
/* main container */
.container {
    border: 1px gray solid;
    position: relative;
}

/* sub container for user details*/
.container-user {
    position:relative;
    float:left;
    width: 38%;
    border: 1px solid rgb(137, 150, 137);
    margin : 0.8em;
    padding:0.2em;

}
.divHeader {
    position: relative;
    display: block;
}
.divHeader div {
    display: inline-block;
}
/* for images inside the header for user repositories*/
.divHeader img {
    left:0px;
    display: inline-block;
    width: 30%;
    height: 60%;
}

/* for images inside the user container at the main page */
.container-user img {
    width: 30%;
    height: 60%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 1em ;    
    margin-bottom: 1em;
    display: block;
    padding:0.5em;
    float:left;

}

/* for a href (git link) */
 a {
    text-align: center;
     display:block;
     border: none;
     text-decoration: none;
 }
 button {
    margin-left:0px;
    margin-right:0px;
    margin-top:0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 p {
     font-size:15px;
 }
 /* boolean flag - position at the top right of the screen */
 .flag {
    position: absolute;
    top: 0px;
    right: 0px;
 }


 